

nav {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}
.mybook{
  background-color: green;
  color: #f8f9fa;
  border-radius: 5px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.mybook1{
  background-color: green;
  color: #f8f9fa;
  border-radius: 5px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}